<!-- particles 粒子動畫

     # 官網
     https://vincentgarreau.com/particles.js/

     # github
     https://github.com/VincentGarreau/particles.js/

  

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>particles 粒子動畫</title>

    <!-- 圖片網址 
         https://www.google.com/search?sca_esv=68d9541bca7da508&sxsrf=AE3TifOPb1nqLAUtIRmNjcH_PraHoZIAPA:1750035798341&q=line+store+%E5%A4%9A%E5%95%A6a%E5%A4%A2&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeiAkWG4OlBE2zyCTMjPbGmPgfe_7ak8LUsonpWCvT6w6csnyTymMQ2XHqFKxVhyiTngbpNVM7lv1DYTLvoKUIV3UQf-UJ2ncxRM9P3Yyg_6PYt2cQNlI8lZEQj2EAWk3RYHm2OjbhUqucbvpRngxFts_e5jFJhEa8yIYpefIexJ03NbdPA&sa=X&ved=2ahUKEwjszuqw3_SNAxURaPUHHfguE94QtKgLegQICBAB&biw=1280&bih=551&dpr=1.5#vhid=izwAigD_vpc03M&vssid=mosaic 
    -->

    <style>
      body {
        /* background-color: black; */
      }
    </style>
  </head>
  <body>
    <!-- 3. 結構 -->
    <div id="particles-js"></div>

    <!-- 1. 主程式 -->
    <script src="particles.js"></script>
    <script src="./particles.min.js"></script>

    <!-- 2. 使用 particles + 參數 -->
    <script src="./app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  </body>
</html>
